@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

:root{
    --primary-color:#125e68;
    --primary-color-darker:#07383e;
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background:#fff;
    padding: 20px;
    border-radius: 10px;
}


.res{
    font-size: 2em;
    color: var(--primary-color);
    margin: 40px 0;
}

input[type=checkbox]{
    width: 25px;
    height: 25px;
}

.btn{
    margin: 40px 0; 
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: #fff;
    width: 150px;
    height: 50px;
    font-size: 1em;
}


